<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-eye" aria-hidden="true">&nbsp;</i>View Contact</p>
            <p class="fst-italic mt-1">Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
                These Angular docs help you learn and use the Angular framework and development platform,
                from your first application to optimizing complex single-page apps for enterprises.
                Tutorials and guides include downloadable examples to accelerate your projects.
                </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-item-center">
        <div class="col-sm-4">
            <img src="https://img.favpng.com/14/3/22/stock-photography-computer-icons-user-png-favpng-TWgLj8kmcdnekcpWySfpV97h3.jpg" class="contact-img-details" alt="user">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Name: <span class="fw-bold">Bhargav</span></li>
                <li class="list-group-item list-group-item-success">Email: <span class="fw-bold">bha@gmail.com</span></li>
                <li class="list-group-item list-group-item-success">Mobile: <span class="fw-bold">90078909</span></li>
                <li class="list-group-item list-group-item-success">Company: <span class="fw-bold">Vanward</span></li>
                <li class="list-group-item list-group-item-success">Title: <span class="fw-bold">High</span></li>
                <li class="list-group-item list-group-item-success">Group Name: <span class="fw-bold">Family</span></li>

            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <a routerLink="/" class="btn btn-warning"><i class="fa fa-arrow-alt-circle-left">&nbsp;</i>Go Back</a>
        </div>
    </div>
</div>
