<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-pen">&nbsp;</i>Edit Contact</p>
            <p class="fst-italic mt-1">Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.
                These Angular docs help you learn and use the Angular framework and development platform,
                from your first application to optimizing complex single-page apps for enterprises.
                Tutorials and guides include downloadable examples to accelerate your projects.
                </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder= "Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder= "Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder= "Email Id">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder= "Mobile No">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder= "Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder= "Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select A Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://img.favpng.com/14/3/22/stock-photography-computer-icons-user-png-favpng-TWgLj8kmcdnekcpWySfpV97h3.jpg" alt="" class="contact-img">
        </div>
    </div>
</div>

